<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="work.rikeda.todo.mappers.TodoMapper">
  <resultMap id="memberResultMap" type="work.rikeda.todo.domains.Todo">
    <result property="id" column="id" />
    <result property="task" column="task" />
    <result property="state" column="state" />
    <result property="rimitDate" column="rimit_date" />
  </resultMap>

  <select id="getAll" resultMap="memberResultMap">
    SELECT * FROM todo;
  </select>

  <insert id="addTodo" parameterType="work.rikeda.todo.domains.Todo">
    INSERT INTO todo(task, state, rimit_date) VALUES (#{task}, #{state}, #{rimitDate})
  </insert>

  <update id="completeTodo" parameterType="work.rikeda.todo.domains.Todo">
    UPDATE todo SET state = 1 WHERE id = #{id}
  </update>
</mapper>